.list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
}

.scroll {
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.main {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  margin: 25px 25px 40px 25px;
}

.orderNumber {
  text-align: center;
}

.listElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.listElement:last-of-type {
  margin-bottom: 0;
}

.textActive {
  color: rgba(0, 204, 204, 1);
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #801ab2;
}

.price {
  display: flex;
  flex-direction: row;
}

.imgAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeAndTotalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textWrap {
  white-space: normal;
}

.loading {
  margin: auto;
}
