/* container
navLinks
inputs */

.container {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-right: auto;
}

.navLinks {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  white-space: wrap;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: #8585ad;
  font-size: 24px;
  max-width: 320px;
  min-height: 64px;
}

.activeNavLink {
  text-decoration: none;
  color: white;
  font-size: 24px;
  max-width: 320px;
  min-height: 64px;
}
