.container {
  width: 720px;
  background-color: #1c1c21;
  min-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1231;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 24px;
  height: 24px;
  transition: 0.4s;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.button:hover {
  opacity: 0.4;
}
