.image {
  width: 80px;
  height: 40px;
}

.listConsctructor {
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.finalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.constructorElementContainer {
  display: flex;
  white-space: pre-wrap;
}
